<% title "Authentications" %>

<h1>Authenticate</h1>

<% if current_user %>
	It is possible to use multiple authentication providers with your account. Simply click on the Provider you want to add below:<br />
<% else %>
	<b>You can use any of the services below to login:</b><br />
<% end %>
<div id="buttons">
<% Authentication::Providers.each do |provider| %>
	<div class="authbutton">
	<% if current_user %>
		<% unless current_user.providers.include? provider %>
			<%= link_to image_tag("authbuttons/png/#{provider.gsub(/_/,'')}_64.png"), "/auth/#{provider}" %><br /><%= provider.gsub(/_/,'').titleize %>
		<% else %>
			<%= image_tag("authbuttons/png/#{provider.gsub(/_/,'')}_64.png") %><br /><%= provider.gsub(/_/,'').titleize %>
		<% end %>
	<% else %>
		<%= link_to image_tag("authbuttons/png/#{provider.gsub(/_/,'')}_64.png"), "/auth/#{provider}" %><br /><%= provider.gsub(/_/,'').titleize %>
	<% end %>
	</div>
<% end %>
</div>
<% unless current_user %>
	You don't have to use a third party service to authenticate, you can use a good old username and password by either <%= link_to "Signing In", new_user_session_path %> or <%= link_to "Sigining Up", new_user_registration_path %>.
<% end %>
