<!DOCTYPE html>
<html>
<head>
	<title>Acompishm</title>
	<%= csrf_meta_tag %>
	<%= stylesheet_link_tag 'main' %>
</head>
<body>
<div id="topbar"><%= link_to "Acompishm", path_to_home %> (search...)
<% if current_user %>
	<span id="user"><% current_user.authentications.each do |auth| %>
		<%= image_tag "authbuttons/png/#{auth.provider.gsub(/_/,'')}_32.png", :width => 16, :height => 16 %>
	<% end %><%= current_user.username %></span>
<% end %>
</div>
<% if notice %>
<div id="notice"><%= notice %></div>
<% end %>

<div id="container"><%= yield %></div>

</body>
</html>
