<!DOCTYPE html>
<html>
<head>
	<title>Acompishm</title>
	<%= csrf_meta_tag %>
	<%= stylesheet_link_tag 'main' %>
</head>
<body>
<div id="topbar"><%= link_to "Acompishm", root_url %> (search...)
<span id="user">USR</span>
</div>
<%= flash[:notice] %>

<div id="container"><%= yield %></div>

</body>
</html>
